[submodule ".local/bin/utils/ex"]
	path = .local/bin/utils/ex
	url = https://github.com/themamiza/ex
[submodule ".local/bin/utils/vidir"]
	path = .local/bin/utils/vidir
	url = https://github.com/themamiza/vidir
[submodule ".local/bin/utils/win2usb"]
	path = .local/bin/utils/win2usb
	url = https://github.com/themamiza/win2usb
[submodule ".local/bin/utils/wallc"]
	path = .local/bin/utils/wallc
	url = https://github.com/themamiza/wallc
